<h3 (click)="onBack()"> Back </h3>
<div class="loginForm">
    <div class="accountInfo">
        <div class="userImage">
            <img [src]="accountInfo!.avatar">
        </div>
        <div>
            <h2>{{accountInfo!.name}}</h2>
        </div>
    </div>
    <div id="password">
        <input type="password" placeholder="Enter Your Password" [(ngModel)]="password">
    </div>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    <div class="button" (click)="logIn()">
        LOGIN
    </div>
</div>