<div class="productsSection" >
    <ng-container *ngFor="let productItem of products">    
    <div class="productItem" *ngIf="shouldBeViewed(productItem)">
        <div class="imgContainer">
            <img [src]="productItem.imageProduct">
        </div>
        <div>
            <h2>{{productItem.nameProduct}}</h2>
            <span>{{productItem.priceProduct}}$</span>
            <div class="cartButton" *ngIf="productItem.isAvailable" (click)="addProductToCart(productItem)">{{getAddToCartLabel(productItem.productId)}}</div>
            <h3 *ngIf="!productItem.isAvailable" [ngStyle]="{color:'#3d3d3d'}">Not Avaliable</h3>
        </div>
    </div>
</ng-container>
</div>